@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Add a custom class for the desktop background */
  .desktop-bg-gradient {
    background: linear-gradient(45deg, rgba(255, 138, 0, 0.8), rgba(229, 46, 113, 0.8), rgba(102, 16, 242, 0.8), rgba(0, 153, 247, 0.8));
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }